body {
  background-color: #170D1D;
}

.App {
  text-align: center;
}

.app-header {
  background-color: #3E104E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #B5BF88;
}

.info-display {
  background-color: #0B574E;
}
