body {
  background-color: #170D1D;
  text-align: center;
  color: #F1F6DC;
}

.app-header {
  background-color: #3E104E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #B5BF88;
  box-shadow: 0 .2em 2em rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 70%;
  margin: 0 auto;
  align-content: center;
}

.paper {
  border-radius: 1em;
  margin: 2em 0;
  padding: 2em;
  background-color: #103235;
  box-shadow: 0 .2em 2em rgba(0, 0, 0, 0.25);
}

.info-display {
  text-align: left;
}

h2 {
  text-align: center;
  margin-top: 0;
}

input {
  width: 80%;
  min-width: 105px;
  background-color: #F1F6DC;
  border: .1em solid #170D1D;
  border-radius: .5em;
  padding: .2em .5em;
  color: #103235;
}

button {
  display: block;
  width: 20%;
  min-width: 80px;
  margin: 1em auto 0 auto;
  padding: .3em;
  border: .1em solid #170D1D;
  border-radius: .5em;
  background-color: #B5BF88;
  color: #3E104E;
  font-weight: bold;
}

button:hover {
  background-color: #F1F6DC;
}


