body {
  background-color: #170D1D;
  text-align: center;
  color: #F1F6DC;
}

.App {
}

.app-header {
  background-color: #3E104E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #B5BF88;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  align-content: center;
}

.paper {
  border-radius: 1em;
  margin: 2em 0;
  padding: 2em;
  background-color: #103235;
}

.info-display {
  text-align: left;
}

h2 {
  text-align: center;
  margin-top: 0;
}


